NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/db_name?schema=public"
JWT_SECRET=JWT_SECRET_KEY
JWT_EXPIRES_IN=1d
BCRYPT_SALT_ROUNDS=10
THROTTLE_TTL=60
THROTTLE_LIMIT=10

# Email Configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_FROM=your-email@gmail.com
SUPPORT_EMAIL=support@vendome.digital
